/**
 * fil: css/style.css
 **/

/* Reset: Meyer Style */
/* fjerner default browser styles */
@import 'reset.css';

/* Farve- og fontvariabler */
:root {
  /* farver */
  --dark: #190604;
  --white: #ffffff;
  --red: rgb(195, 49, 49);
  --darkred: rgb(174, 31, 27);


  /* fonte */
  --overskrift: 'Brush Script MT', cursive;
  --broedtekst: Helvetica, sans-serif;

  /* whitespace */
  --whitespace: .5rem;
}
/* header */

header{
  padding: 0.2em;
 background-color: var(--darkred)

}

#hlabel{
width: 7em;
display: block;
margin-left: auto;
margin-right: auto;
margin-top: 0em;
}

#burger{
  width: 2em;
  display: block;
  margin-right: 10px;
  margin-top: 0em;
  position: absolute;
  bottom: 94%;
}

/* I burgermenuen */


#burgerpunkter{
  text-align: center;
  padding-top: 2em;
  font-size: 28px;
  font-family: acier-bat-solid, sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* ikke besøgt link */
a:link {
  color: var(---white);
}

/* besøgt link */
a:visited {
  color: lightblue;
}


a{
  text-decoration: none;
}

/* Body */
body {
  font-family: var(--broedtekst);
  background-color: var(--red);
  color: var(--white);
  line-height: 1;
}


/* main */

img {
  width: 100%;
}

*{
box-sizing: border-box;
}


.container{
  display: flex;
  flex-wrap: wrap;
  padding: 1em;
  justify-content: flex-end;
}

.mobilbilleder{
  margin: 0.2em;
}


/* Typografisk */
h1,
h2,
h3 {
  font-family: var(--overskrift);
  font-size: 2.2em;
  text-align: center;
  margin-top: var(--whitespace);
  margin-bottom: var(--whitespace);
}

p {
  margin-left: var(--whitespace);
  margin-right: var(--whitespace);
  padding-bottom: var(--whitespace);
  font-size: 1.2em;
  max-width: 35ch;
}




/* Smooth scroll */
html {
  scroll-behavior: smooth;
}

/* Wrap */
#wrap {
  min-height: 100vh;
}

/* footer */
nav,
footer {
  background-color: var(--darkred);
  padding: 35px 0;
  text-align: center;
  margin-bottom: 20px;
}

}

nav a,
footer {
  color: var(--white);
  text-decoration: none;
}

/* Footer */
footer {
  width: 100%;
  margin-bottom: 0px;
  height: 20em;
}

#flabel{
  width: 6em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1em;

}

#fb{
  width: 3em;
  margin-top: 2em;


}

#insta{
  width: 3em;
  margin-top: 2em;

}

.footertekst{
  font-family: proxima-nova, sans-serif;
  font-weight: 100;
  font-size: 1em;
  font-style: normal;
  padding-left:2.1em;
  padding-top: 2em;
}

/* Sections (højde == skærmhøjde) */
section {
  background-color: var(--red);
}



/* Mobil */
@media only screen and (max-width: 600px) {

}

/* tablets og store mobiler*/
@media only screen and (min-width: 601px) {

}

/* Medium devices */
@media only screen and (min-width: 768px) {
 .container {display: none;}
 .mobilbilleder{display: none;}
 #burger{
   display: none;}

/* Desktop */
@media only screen and (min-width: 992px) {
.container {
  display: none;}
.mobilbilleder{
  display: none;}
  #burger{
    display: none;}


/* Store skærme*/
@media only screen and (min-width: 1200px) {

}
